
/* why is the variable not working? */
/* .result{
    display: grid;
    column-gap: 14px;
    row-gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
    margin-top: 40px;
    justify-content: space-around;
} */

input[type="text"]{
    border: solid 1px rgb(161, 161, 161);
    padding: 10px;
    border-radius: 8px;
    margin-right: 10px;
    display: inline-block;
    width: 30%;
}
section{
   font-family: 'Roboto', sans-serif;
}
section > form {
    margin-left: 20px;
}


.house-display{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 360px));
    column-gap: 5px;
    row-gap: 7px;
    margin-top: 30px;
    justify-content: space-around;
}
@media (min-width: 500px) and (max-width: 768px)
{
    .result{
        grid-template-columns: repeat(2, 1fr);
    }

    input[type="text"]{
        width: 70%;
    }
}

@media (max-width: 499px)
{
    .result{
        grid-template-columns: repeat(1, 1fr);
    }

    input[type="text"]{
        width: 100%;
    }
}